<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body>
    <% include ../partials/newusernav.ejs %>
    
    <main>
      <a href="/admin">Back to Admin</a>
      <br/><br/>
      <ul>
        <% gamelists.forEach(function(list) { %>
          <li><%=list.title%></li>
          <form action="/admin/gamelists/<%=list._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Gamelist"/>
          </form>
        <% }) %>
      </ul>
    </main>
  
  </body>

</html>