<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  
  <body>
  	<% include ../partials/newusernav.ejs %>

  	<main>
      <h1>Admin Page</h1>
      <h3><a href="/admin/gamelists">Gamelists</a></h3>
      <h3><a href="/admin/users">Users</a></h3>
    </main>
  
  </body>

</html>