<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  
  <body>
    <% include ../partials/newusernav.ejs %>

    <main>
      <a href="/admin">Back to Admin</a>
      <br/><br/>
      <ul>
        <% users.forEach(function(user) { %>
          <li><%=user.username%></li>
          <form action="/admin/users/<%=user._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete User"/>
          </form>
        <% }) %>
      </ul>
    </main>

  </body>

</html>