<section id="footer">
  <div class="container text-center">
    <h1>Say hello!</h1>
    <hr class="separator separator-dark">
    <ul class="social">
      <li>
        <a id="linked-in" href='https://www.linkedin.com/in/alexandra-alday' target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a id="github" href="https://github.com/alexandraalday" target="_blank"><i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</section>

<div id="madewithlove" class="text-center">
  <p>Made with &hearts; by Alexandra Alday</p>
</div>
