<meta charset="utf-8">
<title>G O O D | G A M E</title>
<!-- <link rel="stylesheet" type="text/css" href="../reset.css">  -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">