<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  
  <body>
  	<% include ./partials/nav.ejs %>

    <header>
      <div class="jumbotron text-center" id="heading">
        <div class="container intro-text">
          <h1>
            <% if(currentUser) { %>
              HELLO <%=currentUser.username%>!
            <% } else { %>
              HELLO!
            <% } %>
          </h1>
          <hr class="separator separator-light">
          <h2>
            See what games your friends are playing
          </h2>
          <a id="arrowDown" href="#portfolio"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </header>

    <section id="portfolio" name="portfolio">
      <div class="container">
        <div class="row text-center">
          <h1>Top Gamelists</h1>
          <hr class="separator separator-dark">
        </div>
        <div class="row">
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 portfolio-item">
            <figure class="effect-portfolio">
              <img class="img-responsive" src="/assets/Video-Game-Controller-Icon.svg" alt="Sample Gamelist">
              <figcaption>
                <h2>Sample
                <span>Gamelist</span></h2>
                <p>A sample gamelist.
                </p>
                <a href="" target='_blank'></a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>


    <section id="about">
      <div class="container">
        <div class="row text-center">
          <h1>Join Us!</h1>
          <hr class="separator separator-dark">
        </div>
        <div class="row" id="lorem">
          <div class="col-md-5 col-md-offset-1">
            <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
            </p>
          </div>
          <div class="col-md-5">
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
             consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
             cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
             proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <h1 class='text-center'>Say hello!</h1>
        <hr class="separator separator-dark">
        <ul class="social text-center">
          <li>
            <a id="linked-in" href='https://www.linkedin.com/in/alexandra-alday' target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a id="github" href="https://github.com/alexandraalday" target="_blank"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </div>
    </section>

  </body>
  
  <footer>
  Made with &hearts; by Alexandra Alday
  </footer>

</html>