<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>goodgame</title>
  </head>
  <body>
  	<a href="/gamelists/new">make a new gamelist</a>
    <ul>
      <% for(let i = 0; i < gamelists.length; i++) { %>
          <li>
            <a href="/gamelists/<%=gamelists[i].id%>"><%=gamelists[i].coverImage%></a>
          </li>
      <% } %>
    </ul>
  </body>
</html>