<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

  	<a href="/gamelists/new">make a new gamelist</a>
    <ul>
      <% for(let i = 0; i < gamelists.length; i++) { %>
          <li>
            <a href="/gamelists/<%=gamelists[i].id%>"><%=gamelists[i].coverImage%></a>
          </li>
      <% } %>
    </ul>
  </body>
</html>