<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

    <form action="/gamelists/<%=gamelist.id%>?_method=PUT" method="POST">
      <input type="text" name="coverImage" placeholder="cover image" value="<%=gamelist.coverImage%>">
      <input type="text" name="description" placeholder="description" value="<%=gamelist.description%>">
      <input type="submit" value="edit" />
    </form>
  </body>
</html>