<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

      <form action="/gamelists" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="coverImage" placeholder="gamelist cover image link">
        <input type="text" name="description" placeholder="gamelist description">
        <input type="submit" value="CREATE" />
      </form>
  </body>
</html>