<!DOCTYPE html>
<html ng-app="Goodgame">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body ng-controller="SearchController as ctrl">
  <% include ../partials/nav.ejs %>

  <main style="padding-top: 70px">
    <div class="row text-center">
            <h1>GAME SEARCH</h1>
            <hr class="separator separator-dark">
    </div>

  <form ng-submit="ctrl.find(searchTerm)">
  	<div class='form-group'>
  		<label>Search for a game</label>
  		<input type='text' ng-model="searchTerm" name='searchTerm' class='form-control' placeholder='Enter a game name'>
  	</div>

	<button type='submit' class='btn btn-danger'>Search</button>
  </form>
  </main>

    <!-- game results -->
  <div class="col-md-8 col-md-offset-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Game</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in ctrl.searchResults">
        <td><img src="{{ game.cover.url }}"></td>
        <td><a href='/games/{{game.id}}'>{{ game.name }}</a></td>
        <td>{{ game.summary }}</td>
      </tr>
    </tbody>
  </table>
  </div>




</body>
</html>