<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
	<% include ../partials/newusernav.ejs %>

<main style="padding-top: 150px">

<!--  new user form -->
<div class="formContainer">
<form class="form-horizontal" action="/sessions" method="POST">
  <fieldset>
    <legend id="title" class="col-lg-12 text-center"><i class="fa fa-lock" aria-hidden="true"></i> Login</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-8">
        <input class="form-control" name="username" placeholder="Username or Email" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-8">
        <input class="form-control" name="password" placeholder="Password is case sensitive" type="password">
      </div>
    </div>

    <div class="form-group">
      <div class="text-center">
        <input type="submit" id="inverse-button" class="btn btn-danger" value="Login"></input>
      </div>
    </div>
  </fieldset>
</form>
</div>


  </body>
</html>