<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  
  <body>
    <% include ../partials/nav.ejs %>

    <main>
      <section id="portfolio" name="portfolio">
        <div class="container">
          <div class="row text-center">
            <h1>BROWSE USERS</h1>
            <hr class="separator separator-dark">
          </div>
        
          <div class="row">
            <% users.forEach(function(user) { %>
              <div class="col-md-4 portfolio-item">
                <figure class="effect-portfolio">
                  <img class="img-responsive" src="<%=user.icon%>">
                  <figcaption>
                    <h2><span><%=user.username%></span></h2>
                    <p><%=user.description%></p>
                    <a href="/users/<%=user.id%>"></a>
                  </figcaption>
                </figure>
              </div>
            <% }); %>
          </div>
        </div>
      </section>
    </main>

  </body>
  
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</html>