<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/newusernav.ejs %>


<main style="padding-top: 150px">

<!--  new user form -->
<form class="form-horizontal" action="/users" method="POST">
  <fieldset>
    <legend class="col-lg-10 col-lg-offset-2">New User</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-6">
        <input class="form-control" name="username" placeholder="Username" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-6">
        <input class="form-control" name="password" placeholder="Password" type="password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Profile Image</label>
      <div class="col-lg-6">
        <input class="form-control" name="icon" placeholder="Image URL" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Profile Description</label>
      <div class="col-lg-6">
        <input class="form-control" name="description" placeholder="Tell us a little about yourself..." type="text">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-6 col-lg-offset-2">
        <input type="reset" class="btn btn-default"></input>
        <input type="submit" class="btn btn-primary"></input>
      </div>
    </div>
  </fieldset>
</form>

</main>


  </body>

</html>